@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0%;
    margin: 0%;
    max-height: 100vh;
}

body  {
    background-color: #232528;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 2rem;
    margin: 50px;

}

nav .name {
    font-family: 'Poppins', sans-serif;
    color: #3993DD;
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
    position: relative;
    bottom: 5px;
}

nav a {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
}

nav a:hover {
    color: #aeecef;
    cursor: pointer;
}

nav .hire-me-btn {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
    background-color: #3993DD ;
    border: none;
}

nav .hire-me-btn:hover {
    color: #232528;
    background-color: #fff ;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 6rem;
}

#about-me h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #fff;
}

header span {
    color: #3993DD;
}

#about-me h1{
    display: flex;
    justify-self: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: #fff;
}

#about-me p {
    display: flex;
    justify-content: center;
    align-items: cener;
    font-family: 'Poppins', sans-serif;
    color: #3993DD;
    margin: 20px;
    font-size: large;
}

#boxes {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.project, .experience, .client {
   box-sizing: border-box;
   border-style: none;
   padding: 0 80px;
   padding-top: 10px;
   padding-bottom: 10px;
   border-radius: 15px;
   background-color: rgba(255, 255, 255, 0.8);
   margin: 5rem; 
}

.fa-clipboard-check, .fa-shield-halved, .fa-thumbs-up {
    color: #3993DD;
    font-size: 35px;
}

.project span {
    color: #232528;
    font-size: 35px;
    font-weight: 600;
}

.project p {
    color: #232528;
    font-size: 20px;
    font-weight: 500;
}

.experience span {
    color: #232528;
    font-size: 35px;
    font-weight: 600;
}

.experience p {
    color: #232528;
    font-size: 20px;
    font-weight: 500;
}

.client span {
     color: #232528;
    font-size: 35px;
    font-weight: 600;
}

.client p {
     color: #232528;
    font-size: 20px;
    font-weight: 500;
}

.back-to-top {
    display: flex;
    justify-content: center
}

.back-to-top:hover {
    cursor: pointer;
    color:#aeecef;
}

