@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0%;
    margin: 0%;
    max-height: 100vh;
}

body  {
    background-color: #232528;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    margin: 50px;
}

nav .name {
    font-family: 'Poppins', sans-serif;
    color: #3993DD;
    justify-content: flex-end;
    font-size: 40px;
    font-weight: 600;
    position: relative;
    bottom: 5px;
}

nav a {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

nav a:hover {
    color: #3993DD;
    cursor: pointer;
}

nav .hire-me-btn {
    text-decoration: none;
    justify-content: flex-end;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #3993DD;
    padding: 10px;
    border-radius: 15px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    border: none;
}

nav .hire-me-btn:hover {
    color: #fff;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    cursor: pointer;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 6rem;
}

.back-to-top {
    display: flex;
    justify-content: center;
    margin: 9%;
}

.back-to-top a {
    text-decoration: none;
    color: #fff;
}

.back-to-top i {
    color: #3993DD;
}

#about-me h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #fff;
}

header span {
    color: #3993DD;
}

#about-me h1{
    display: flex;
    justify-self: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: #fff;
}

#about-me p {
    display: flex;
    justify-content: center;
    align-items: cener;
    font-family: 'Poppins', sans-serif;
    color: #3993DD;
    margin: 20px;
    font-size: large;
}

#boxes {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    flex-wrap: wrap;
    flex-grow: 1;
}

.project, .experience, .client {
   box-sizing: border-box;
   border-style: none;
   padding: 0 80px;
   padding-top: 10px;
   padding-bottom: 10px;
   border-radius: 15px;
   background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
   margin: 5rem; 
}


.fa-clipboard-check, .fa-shield-halved, .fa-thumbs-up {
    color: #3993DD;
    font-size: 35px;
}

.project span {
    color: #232528;
    font-size: 35px;
    font-weight: 600;
}

.project p {
    color: #232528;
    font-size: 20px;
    font-weight: 500;
}

.experience span {
    color: #232528;
    font-size: 35px;
    font-weight: 600;
}

.experience p {
    color: #232528;
    font-size: 20px;
    font-weight: 500;
}

.client span {
     color: #232528;
    font-size: 35px;
    font-weight: 600;
}

.client p {
     color: #232528;
    font-size: 20px;
    font-weight: 500;
}

.back-to-top {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.back-to-top:hover {
    cursor: pointer;
    color:#aeecef;
}

#contact {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.phone {
    display: flex;
    justify-content: center;
}

.phone i {
    position: relative;
    top: 3px;
    margin-right: 10px;
    color: #3993DD;
    font-size: 20px;
}

.phone p {
    color: #fff;
    font-size: 18px;
}

.email {
    display: flex;
    justify-content: center;
}

.email i {
    position: relative;
    top: 3px;
    margin-right: 10px;
    color: #3993DD;
    font-size: 20px;
}

.email p {
    color: #fff;
    font-size: 18px;
}

.phone p:hover, .email p:hover {
    color: #aeecef;
    cursor: pointer;
}

#socials {
    display: flex;
    justify-content: center;
    margin: 10%;
}

.fa-instagram, .fa-discord, .fa-github {
    text-decoration: none;
    color: #3993DD;
    border:  1px solid;
    border-radius: 15px;
    padding: 15px;
    font-size: 45px;
    border: none;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.fa-instagram {
    position: relative;
    right: 40px;
    border: none;
}


.fa-github {
    border: none;
    position: relative;
    left: 40px;
}

.fa-instagram:hover, .fa-discord:hover, .fa-github:hover {
    color: #fff;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}