@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0%;
    margin: 0%;
    background-color: rgb(39, 37, 37);
}

body {
    padding: 0rem;
    text-align: center;

}

nav {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 20px;
    margin-top: 15px;
    position: relative;
    right: 5%;
}

nav a {
    text-decoration: none;
    color: white;
    margin-top: 10px;
}


nav a:hover {
    color: orange; 
}

.hire-me {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: orange;
    margin-top: 10px;
}

.hire-me:hover {
    color: hsl(39, 100%, 80%);
}

nav .name {
    color: orange;
    position: relative;
    right: 5%;
}

.back-to-top{
    position: relative;
    left: 5px;
}

header h2 {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    word-spacing: normal;
    margin-top: 7%;
}

header h2 span{
    color: orange;
}

header h1 {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    word-spacing: normal;
    margin-top: 5px;
}

header p {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    margin-top: 13px;
}

.fa-arrow-up{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    bottom: 2px;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.fa-phone, .fa-at {
    color: orange;
    padding: 10px;
}

#contact p {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-decoration: none;
    position: relative;
    right: 5px;
}

#contact p:hover {
    color: orange;
}

#socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    padding: 10px;
}

#socials i {
    color: orange;
    margin-left: 5px;
    font-size: 20px;
    padding: 10px;
}

#socials a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    position: relative;
    right: 5px;
}

#socials a:hover {
    color: orange;
}

#project {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    padding: 10px;
    gap: 10%;
    position: relative;
    right: 6%;
}

#project i {
    color: orange;
    margin-left: 5px;
    font-size: 20px;
    padding: 10px;
    display: flex;
    position: relative;
    left: 9%;
    font-size: 2rem;
}

#project p {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    position: relative;
    right: 5px;
}

#project span {
    display: flex;
    justify-content: center;
    font-size: 26px;
    font-weight: bold;
    color: hsl(39, 100%, 80%);
}